Chi Square Test

The test is applied when you have two categorical variables from a single value population.It is used to determine whether there is a significant association between the two variables.

In [1]:
import scipy.stats as stats

In [2]:
import seaborn as sns
import pandas as pd
import numpy as np
dataset=sns.load_dataset('tips')

In [3]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
dataset_table=pd.crosstab(dataset['sex'],dataset['smoker']) # here sex and smoker are my categorical columns , here crosstab actually gives us matrix as we get in output.
print(dataset_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [5]:
# observed values

Observed_values=dataset_table.values
print("Observed values: -\n",Observed_values)

Observed values: -
 [[60 97]
 [33 54]]

In [7]:
val=stats.chi2_contingency(dataset_table) # Chi square test of independence of variables in a contingency table.
val # here the value we get in array is our expected values in comparison of above observed values

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=1, expected_freq=array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]]))

In [8]:
Expected_values=val[3]

In [9]:
no_of_rows=len(dataset_table.iloc[0:2,0])
no_of_columns=len(dataset_table.iloc[0,0:2])
ddof=(no_of_rows-1)*(no_of_columns-1) # ddof is degree of freedom and this is their formula
print("Degree of freedom:",ddof)
alpha=0.05 # it will like our learning rate

Degree of freedom: 1

In [10]:
from scipy.stats import chi2 # importing chi square

In [11]:
chi_square=sum([(o-e)**2./e for o,e in zip(Observed_values,Expected_values)]) # here o means observed and e is expected
chi_square_statistic=chi_square[0]+chi_square[1]
print("chi_square statistic:-",chi_square_statistic)

chi_square statistic:- 0.001934818536627623

In [17]:
critical_value=chi2.ppf(q=1-alpha,df=ddof) # ppf is percent point function
print("critical_value:",critical_value)

critical_value: 3.841458820694124

In [18]:
# p-value

p_value=1-chi2.cdf(x=chi_square_statistic,df=ddof) # cdf is cumulative density function
print('p-value:',p_value)
print('Significance level:',alpha)
print('Degree of freedom:',ddof)

p-value: 0.964915107315732
Significance level: 0.05
Degree of freedom: 1

In [19]:
# these are two ways for using the chi square test and check about the hyposthesis testing

if chi_square_statistic>=critical_value:
  print("Reject H0,There is a relationship between 2 categorical variables")
else:
  print("Retain H0,There is no relationship between 2 categorical variables")

if p_value<=alpha:
  print("Reject H0,There is a relationship between 2 categorical variables")
else:
  print("Retain H0,There is no relationship between 2 categorical variables")

Retain H0,There is no relationship between 2 categorical variables
Retain H0,There is no relationship between 2 categorical variables